<style>
    #loginNav > ul > .active > a {
        background: #9fe879;
        border: #9fe879;
    }
    #loginNav > ul > li > a {
        background: #d3d4ca;
        border: #d3d4ca;
    }
</style>
<script src="common_js/common.js"></script>
<script>
    $(function () {
        $('#loginNav > ul > li > a').on('shown.bs.tab', function (e) {
            $(e.target).css({'background':'#9fe879', 'border':'#9fe879'});
            $(e.relatedTarget).css({'background':'#d3d4ca', 'border':'#d3d4ca'});
        });
        $('#photo').hide();
    })
</script>
<!---header--->
<div class="header-section">
    <div class="container">
        <div class="head-top">
            <div class="social-icon">
                <a href="#"><i class="icon"></i></a>
                <a href="#"><i class="icon1"></i></a>
                <a href="#"><i class="icon2"></i></a>
                <a href="#"><i class="icon3"></i></a>
                <a href="#"><i class="icon4"></i></a>
            </div>
            <div class="email">
                <ul>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true" style="font-size: 2em"></i>Email: <a href="#">info@example.com</a> </li>
                    <li><i class="glyphicon glyphicon-log-in" aria-hidden="true" style="font-size: 2em"></i><a href="#" data-toggle="modal" data-target="#loginModal">登录</a></li>
                    <li><i class="glyphicon glyphicon-lock" aria-hidden="true" style="font-size: 2em"></i><a href="#" data-toggle="modal" data-target="#registerModal">注册</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <nav class="navbar navbar-default">
            <!---Brand and toggle get grouped for better mobile display--->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <h1><a href="index.html"><span>轻松 </span>短租</a></h1>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="home"><a href="index.html">主页 <span class="sr-only">(current)</span></a></li>
                    <li id="pages" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="about.html">About</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="agents.html">Agents</a></li>
                            <li><a href="forrent.html">For Rent</a></li>
                            <li><a href="forsale.html">For Sale</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="faqs.html">FAQs</a></li>
                            <li><a href="coupons.html">领券中心</a></li>
                            <li><a href="terms.html">Terms of Use</a></li>
                            <li><a href="privacy.html">Privacy Policy</a></li>
                        </ul>
                    </li>
                    <li id="property" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Property<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="defaultvariation.html">Default – Variation</a></li>
                            <li><a href="agentinsidebarvariation.html">Agent in Sidebar - Variation</a></li>
                            <li><a href="galleryvariation.html">Gallery - Variation</a></li>
                        </ul>
                    </li>
                    <li id="gallery" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="2columnsgallery.html">2 Columns Gallery</a></li>
                            <li><a href="3columnsgallery.html">3 Columns Gallery</a></li>
                            <li><a href="4columnsgallery.html">4 Columns Gallery</a></li>
                        </ul>
                    </li>
                    <li id="blog"><a href="blog.html">Blog</a></li>
                    <li id="codes"><a href="codes.html">Codes</a></li>
                    <li id="contact"><a href="contact.html">Contact</a></li>
                </ul>
                <div class="phone">
                    <span><i class="glyphicon glyphicon-phone" aria-hidden="true"></i>666-888-333-222</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </nav>
    </div>
</div>
<!---header--->

<!-- login -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body real-spa">
                <div class="login-grids">
                    <div class="login">
                        <div class="login-right">
                            <div id="loginNav">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#loginByPassword" aria-controls="home" role="tab" data-toggle="tab">密码登录</a></li>
                                    <li role="presentation"><a href="#loginByPhone" aria-controls="profile" role="tab" data-toggle="tab">手机验证登录</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="loginByPassword">
                                        <br>
                                        <form>
                                            <div class="col-sm-10 col-sm-offset-5" style="padding-left: 0px">
                                                <img id="" class="img-circle" :src="imgSrc" style="width: 65px;height: 65px">
                                            </div>
                                            <input v-model="userAccount" type="text" placeholder="请输入您的账号">
                                            <input v-model="password" type="password" placeholder="请输入您的密码">
                                            <span v-if="flag" style="color: red"><br><br>账号或密码输入错误</span>
                                            <h4><a href="#">忘记密码</a></h4>
                                            <div class="single-bottom">
                                                <input type="checkbox"  id="brand" value="">
                                                <label for="brand"><span></span>记住密码</label>
                                            </div>
                                            <input type="button" v-on:click="doLogin()" class="btn btn-info"  value="立即登录" style="width: 100%; font-size: 1.5em; font-family: 'PT Sans', sans-serif; background: #2da9e1;">
                                        </form>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="loginByPhone">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label for="phoneNumber" class="col-sm-2 control-label" style="line-height: 3.9; padding-right: 6px;">手机号码</label>
                                                <div class="col-sm-10">
                                                    <input type="text" v-model="phoneNumber" class="form-control-static" id="phoneNumber" placeholder="请输入手机号码" style="width: 70%">
                                                    <button class="btn btn-primary" @click="getPhoneCode()"  type="button" style="height: 44px">发送验证码</button>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="phoneCode" class="col-sm-2 control-label" style="line-height: 3.9;">验证码</label>
                                                <div class="col-sm-10">
                                                    <input type="text" v-model="phoneCode" class="form-control" id="phoneCode" placeholder="请输入验证码">
                                                    <span v-if="codeFlag" style="color: red"><br><span v-text="phoneCodeMessage"></span></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button type="button" @click="doLoginByPhoneCode()" class="btn btn-default">登录</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>登录即表示您同意我们的<a href="#">条款</a>和<a href="#">条件</a>以及<a href="#">隐私政策</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //login -->
<!-- Register -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body real-spa">
                <div class="login-grids">
                    <div class="login">
                        <div class="login-right">
                            <form>
                                <h3>注册</h3>
                                <div class="col-sm-10 col-sm-offset-5" style="padding-left: 0px">
                                    <img id="image" class="img-circle" v-bind:src="imgSrc" style="width: 65px;height: 65px">
                                    <input type="button" @click="fileClick()" class="btn btn-default" id="upload" value="上传头像">
                                    <input type="file" @change="file($event)" name="photo" id="photo">
                                </div>
                                <input type="text" v-model="params.userName" placeholder="请输入昵称">
                                <input type="text" v-model="params.userAccount" placeholder="请输入用户账号">
                                <input type="text" v-model="params.phone" placeholder="请输入手机号">
                                <input type="password" v-model="params.password"  placeholder="请输入密码">
                                <input type="password" v-model="params.confirmPassword" placeholder="请确认密码">
                                <input type="text" v-model="params.authCode" placeholder="请输入验证码" style="width: 80%">
                                <a @click="getAuthCode()" href="javascript:void(0);"><img :src="authCodeSrc" style="width: 70px; height: 40px; margin-top: 21px; float: right"></a>
                                <input type="button" v-on:click="submitForm()" class="btn btn-info"  value="立即注册" style="width: 100%; font-size: 1.5em; font-family: 'PT Sans', sans-serif; background: #2da9e1; margin-top: 20px;">
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <p>注册即表示您同意我们的<a href="#">条款</a>和<a href="#">条件</a>以及<a href="#">隐私政策</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Register -->
<script src="js/vue.js"></script>
<!--<script src="https://cdn.bootcss.com/axios/0.16.2/axios.js"></script>-->
<script src="js/axios.js"></script>
<script>
    const register = new Vue({
        el: '#registerModal',
        data: {
            params: {
                photo: null,
                userAccount: '',
                userName: '',
                phone: '',
                password: '',
                confirmPassword: '',
                authCode: ''
            },
            imgSrc: 'images/4.png',
            authCodeSrc: ''
        },
        methods: {
            getAuthCode() {
                let that = this;
                axios({
                    method: 'get',
                    url: txqIP + '/user/getAuthCode',
                    headers: {authCodeFlag: localStorage.getItem('authCodeFlag')}
                })
                    .then(function (result) {
                        //先生成redis保存验证码的key，再生成验证码
                        localStorage.setItem('authCodeFlag', result.data.data);
                        that.authCodeSrc = txqIP + '/user/createCode?authCodeFlag=' + localStorage.getItem('authCodeFlag');
                    });
            },
            fileClick() {
                document.getElementById('photo').click();
            },
            getFile(event) {
                this.params.photo = event.target.files[0];
            },
            photoChange(event) {
                //图片回显
                let file = event.target.files[0];
                let reader = new FileReader();
                reader.readAsDataURL(file);
                let that = this;
                reader.onload = function (e) {
                    let src = this.result.substring(this.result.indexOf(',') + 1);
                    that.imgSrc = 'data:image/png;base64,' + src;
                }
            },
            file(event) {
                this.getFile(event);
                this.photoChange(event);
            },
            clearForm() {
                    this.params.photo = null;
                    this.params.userAccount =  '';
                    this.params.userName =  '';
                    this.params.phone =  '';
                    this.params.password =  '';
                    this.params.confirmPassword = '';
                    this.params.authCode =  '';
                    this.imgSrc = 'images/a.jpg';
            },
            submitForm() {
                let that = this;
                let formData = new FormData();
                formData.append('photo', this.params.photo);
                formData.append('userAccount', this.params.userAccount);
                formData.append('userName', this.params.userName);
                formData.append('phone', this.params.phone);
                formData.append('password', this.params.confirmPassword);
                formData.append('authCode', this.params.authCode);

                axios({
                    method: 'post',
                    url: txqIP + '/user/addNormalUser',
                    data: formData,
                    headers: {
                        'Content-Type': 'multipart/form-data',
                        'authCodeFlag': localStorage.getItem('authCodeFlag')
                    }
                })
                    .then(
                        data => {
                            alert('注册成功！');
                            that.getAuthCode();
                            that.clearForm();
                        }
                    )
                    .catch(
                        error => {
                            alert('注册失败！');
                            that.getAuthCode();
                        }
                    )
            }
        },
        created: function () {
            this.getAuthCode();
        }
    });

    const login = new Vue({
        el: '#loginModal',
        data: {
            userAccount         : null,
            password            : null,
            imgSrc              : 'images/4.png',
            flag                : false,
            phoneNumber         : null,
            phoneCode           : null,
            codeFlag            : false,
            phoneCodeMessage    : null
        },
        methods: {
            //根据密码登录
            doLogin() {
                let userAccount = this.userAccount;
                let password = this.password;

                if (userAccount != '' && password != '' && userAccount != null && password != null) {
                    let formData = new FormData();
                    formData.append('userAccount', userAccount);
                    formData.append('password', password);
                    let that = this;
                    axios.post(txqIP + "/user/doLogin", formData)
                        .then(function (result) {
                            //data[0]代表查询结果，data[1]代表返回的token值，1登录成功，0登录不成功
                            if (result.data.data[0] == 1) {
                                that.flag = false;
                                localStorage.setItem('token',result.data.data[1]);
                                that.clearForm();
                                $('#loginModal').modal('hide');
                            } else {
                                that.flag = true;
                            }
                        });
                }
            },
            //清空表单
            clearForm() {
               this.userAccount = null;
               this.password = null;
               this.imgSrc = 'images/4.png';
               this.flag = false;
               this.phoneCode = null;
               this.phoneNumber = null;
               this.codeFlag = false;
               this.phoneCodeMessage = null
            },
            //获取手机验证码
            getPhoneCode() {
                let that = this;
                let phoneNumber = that.phoneNumber;
                if (phoneNumber != null && phoneNumber != '') {
                    axios.get(txqIP + '/user/getPhoneCode', {params: {phoneNumber: phoneNumber}})
                        .then(function (result) {
                            if (result.data.data == -1) {
                                that.phoneCodeMessage = result.data.message;
                                that.codeFlag = true;
                            } else {
                                that.codeFlag = false;
                            }
                        })
                }
            },
            //手机动态验证登录
            doLoginByPhoneCode() {
                let that = this;
                let phoneNumber = that.phoneNumber;
                let phoneCode = that.phoneCode;
                if (phoneNumber != null && phoneNumber != '' && phoneCode != null && phoneCode != '') {
                    let formData = new FormData();
                    formData.append('phoneNumber', phoneNumber);
                    formData.append('phoneCode', phoneCode);
                    axios.post(txqIP + '/user/doLoginByPhoneCode', formData)
                        .then(function (result) {
                            //data[0]代表登录结果，1登录成功，0登录不成功，data[1]代表返回的token值
                            if (result.data.data[0] == 1) {
                                that.codeFlag = false;
                                localStorage.setItem('token',result.data.data[1]);
                                that.clearForm();
                                $('#loginModal').modal('hide');
                            } else {
                                that.phoneCodeMessage = result.data.message;
                                that.codeFlag = true;
                            }
                        })
                }
            }
        },
        watch: {
            //监听用户名，返回用户头像
            userAccount: function (newVal) {
                let that = this;
                if (newVal != null && newVal != '') {
                    axios.get(txqIP+'/user/findUserImg', {params: {userAccount: newVal}})
                        .then(function (result) {
                            if (result.data.data == null) {
                                that.imgSrc = 'images/4.png';
                            } else {
                                that.imgSrc = result.data.data;
                            }
                        })
                        .catch(function (error) {
                            that.imgSrc = 'images/4.png';
                        });
                }
            }
        }
    });
</script>