#orderListsCss p span:nth-of-type(odd){
    color: #adadad;
}
#orderDetailCss p span:nth-of-type(odd){
    color: #adadad;
}
#orderDetailCss>div>p{
    margin-top:10px;
}
.btn-cheng{
    color: #FAA43D;
    background-color: #333D47;
}
.btn-cheng:hover,
.btn-cheng:focus,
.btn-cheng:active{
    color: #FAA43D;
    background-color: #fff;
    border-color: #FAA43D;
}

