<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <!---css--->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <link href="css/style.css" rel='stylesheet' type='text/css'/>
    <!---css--->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Real Space Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!---js--->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <!---js--->
    <!---fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <!---fonts-->
    <script src="js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <link href="css/owl.carousel.css" rel="stylesheet">
    <script src="js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 1,
                lazyLoad: true,
                autoPlay: true,
                navigation: false,
                navigationText: false,
                pagination: true,
            });
        });
    </script>

    <script type="text/javascript" src="common_js/common.js"></script>
    <!--common-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.footer').load('./common_pages/footer.html');
        })
    </script>
    <!--common-->

</head>
<body>

<!---header--->
<div class="header-section">
    <div class="container">
        <div class="head-top">
            <div class="social-icon">
                <a href="#"><i class="icon"></i></a>
                <a href="#"><i class="icon1"></i></a>
                <a href="#"><i class="icon2"></i></a>
                <a href="#"><i class="icon3"></i></a>
                <a href="#"><i class="icon4"></i></a>
            </div>
            <div id="loginOut" class="email">
                <ul>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true" style="font-size: 2em"></i>Email: <a
                            href="#">info@example.com</a></li>
                    <li><a @click="loginOut()" href="javascript:void(0);"><i class="glyphicon glyphicon-log-out"
                                                                             aria-hidden="true"
                                                                             style="font-size: 2em"></i></a> <a
                            href="index.html">返回首页</a></li>
                    <li><img class="img-circle" :src="imgSrc" style="width: 45px;height: 45px">&nbsp;欢迎,<span
                            v-text="userName"></span></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!---header--->

<div style="overflow: hidden">
    <!--菜单栏-->
    <div id="ordinaryMenu" style="float: left;overflow: hidden">
        <ul class="list-group" style="float: left;margin: 10px 0px;">
            <li class="list-group-item" >
                个人信息
                <ul class="list-group" style="margin-bottom: 18px;">
                    <li class="list-group-item"><a href="manageself.html">修改个人信息</a></li>
                    <li class="list-group-item"><a href="updatepassword.html">修改密码</a></li>
                    <li class="list-group-item"><a href="mycoupon.html">我的优惠券</a></li>
                </ul>
            </li>
            <li class="list-group-item">
                我的订单
                <ul class="list-group" style="margin-bottom: 18px;">
                    <li class="list-group-item"><a href="manageOrder01.html">全部订单</a></li>
                    <!--<li class="list-group-item"><a href="manageOrder02.html">待支付</a></li>-->
                    <li class="list-group-item"><a href="manageOrder03.html">待入住</a></li>
                </ul>
            </li>
            <li class="list-group-item">
                我的消息
                <ul class="list-group" style="margin-bottom: 18px;">
                    <li class="list-group-item"><a href="manageChat01.html">查看消息</a></li>
                </ul>
            </li>
            <li class="list-group-item">
                我的心愿单
                <ul class="list-group" style="margin-bottom: 18px;">
                    <li class="list-group-item"><a href="manageCollection.html">查看心愿单</a></li>
                </ul>
            </li>
            <li class="list-group-item">
                我的评论
                <ul class="list-group" style="margin-bottom: 18px;">
                    <li class="list-group-item"><a href="manageComment.html">查看评论</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-xs-1 col-md-2"></div>
    <!--内容框-->
    <div id="ordinaryContent" class="col-xs-10 col-md-6">

        <div style="width: auto" v-show="!detailFlag">
            <!--聊天列表-->
            <div style="margin: 20px;padding: 10px;border: #888f90 1px solid;">

                <div style="overflow:hidden;border: #888f90 1px solid;border-radius: 5px"
                     v-for="(unp,index) in userNamePhoList" @click="detailShow();getChatDetail(unp.uid,index)"
                    >
                    <!-- 头像 -->
                    <div>
                        <div style="float: left;margin: 10px">
                            <img :src="unp.uimage" alt="头像" style="width: 50px;height: 50px;border-radius: 25px">
                        </div>
                        <!--名字和未读条数-->
                        <div style="float: left;margin: 10px">
                            <p style="margin: 10px">
                                <strong>{{unp.uname}}</strong>&nbsp;&nbsp;
                                <span class="badge badge-danger" v-show="noViewCountList[index] > 0">{{noViewCountList[index]}}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!--提示框-->
                <div align="center" v-show="tipFlag">
                    <p style="color: #adadad;font-size:20px;font-weight: bold">消息列表暂无消息！</p>
                </div>

            </div>
            <!--分页-->
            <div align="center">
                <div style="margin-top: 10px">
                    <strong>共{{dateTotal}}条记录，当前{{pageNo}}/{{pages}}页</strong>
                </div>
                <nav>
                    <ul class="pagination pagination-lg">
                        <li><a href="#" aria-label="Previous"><span aria-hidden="true"
                                                                    @click="getIds(pageNo-1)">«</span></a></li>
                        <li :class="{active:navi==pageNo}" v-for="navi in navigatePageNums">
                            <a href="#" v-text="navi" @click="getIds(navi)"></a>
                        </li>
                        <li><a href="#" aria-label="Next"><span aria-hidden="true"
                                                                @click="getIds(pageNo+1)">»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <!--聊天详情-->
        <div style="width: 600px" v-show="detailFlag">
            <div style="border: #888f90 1px solid;margin: 20px">
                <!--关闭按钮-->
                <div style="overflow:hidden;margin: 0px;width: auto;height: 30px">
                    <p style="float: right;margin-right:10px;line-height: 30px;color: darkred">
                        <span class="glyphicon glyphicon-remove" @click="detailClose();setViewed(pickId)"></span>
                    </p>
                </div>
                <div>
                    <!-- 历史框 -->
                    <div style="height: 390px;overflow: auto;padding: 10px;">
                        <div v-for="chat in chatDetailList">
                            <!--对方-->
                            <div style="margin-bottom: 15px" v-show="chat.senderId == pickId">
                                <div>
                                    <img :src="pickUserImag" alt="图片" style="width: 50px;height: 50px;border-radius: 25px">&nbsp;&nbsp;
                                    <span style="color: lightskyblue">{{chat.sendName}}</span>&nbsp;&nbsp;
                                    <span style="color: lightskyblue">{{chat.sendDate}}</span>
                                </div>
                                <div>
                                    <p style="margin-top: 10px;background-color: lightskyblue;border-radius: 5px;width: 400px;">
                                        {{chat.content}}
                                    </p>
                                </div>
                            </div>
                            <!--自己-->
                            <div style="overflow: hidden;margin-bottom: 15px" v-show="chat.senderId == userId">
                                <div style="float: right">
                                    <span style="color: burlywood">{{chat.sendDate}}</span>&nbsp;&nbsp;
                                    <span style="color: burlywood">{{chat.sendName}}</span>&nbsp;&nbsp;
                                    <img :src="nowUserNP[0].uimage" alt="图片" style="width: 50px;height: 50px;border-radius: 25px">
                                </div>
                                <div style="float: right">
                                    <p style="margin-top: 10px;background-color: burlywood;border-radius: 5px;width: 400px;">
                                        {{chat.content}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 分割线 -->
                    <hr style="height: 0.5px;background-color:#888f90">
                    <!-- 发送框 -->
                    <div style="padding: 10px">
                        <div>
                            <textarea style="width: 540px; height: 120px;" v-model="chatContent"></textarea>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-primary" @click="storeChat">发送</button>&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<div class="footer">

</div>
<!--footer-->

<!--引入js-->
<script src="js/vue.js"></script>
<script src="js/axios.js"></script>
<script src="js/jsW/manageChat01.js"></script>

<script src="js/axios.js"></script>
<script src="common_js/login.js"></script>
</body>
</html>>