<!DOCTYPE HTML>
<html>
<head>
<title>Single</title>
<!---css--->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!---css--->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--地图所需要的组件-->
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<style type="text/css">
		html{height: 100%}
		body{height: 100%;margin: 0px;padding: 0px}
		#container{height:100%}
	</style>
	<script src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=QqQm1BAIylVGcExlKZHSrS3TGQXSEUD5"></script>
<!--	<script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=QqQm1BAIylVGcExlKZHSrS3TGQXSEUD5"></script>-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Real Space Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!---js--->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/vue.js"></script>
<!---js--->
<!---fonts-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
<!---fonts-->
<!-- FlexSlider -->
	 <script src="js/jquery.flexslider.js"></script>
		<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
			<script>
			// Can also be used with $(document).ready()
				$(window).load(function() {
				$('.flexslider').flexslider({
				animation: "slide",
				controlNav: "thumbnails"
				});
				});
			</script>
			<!-- //FlexSlider-->

	<script type="text/javascript" src="common_js/common.js"></script>
	<!--common-->
	<script type="text/javascript">
		$(document).ready(function () {
			function checkLogin() {
				let flag = false;
				$.ajaxSetup({
					headers: {token: localStorage.getItem('token')},
					async:false
				});
				$.post(txqIP + '/user/front/public/checkLogin', function (result) {
					flag = result.data;
				});
				return flag;
			}
			function loadCommonPages() {
				$('.footer').load('./common_pages/footer.html');
				let flag = checkLogin();
				if (flag) {
					$('.top').load('./common_pages/top2.html?' + Math.floor((Math.random()*9 + 1) * 100000), function () {
						//$('#codes').addClass('active');
					});
				} else {
					$('.top').load('./common_pages/top.html?' + Math.floor((Math.random()*9 + 1) * 100000), function () {
						//$('#codes').addClass('active');
					});
				}
			}
			loadCommonPages();
		})
	</script>
	<!--common-->
	<!-- Link Swiper's CSS -->
	<link rel="stylesheet" href="css/heikes/swiper-bundle.css">
</head>
<body>
<div id="app">

	<!--top-->
	<div class="top">

	</div>
	<!--top-->

	<!---banner--->
	<div class="banner-section">
		<div class="container">
			<h2>Blog post</h2>
		</div>
	</div>
	<!---banner--->
	<div class="content">
		<div class="blog-section">
			<div class="container">
				<div class="blog-grids">
					<div class="col-md-9 blog-grid">
						<div class="blog">
							<h3 v-text="houseInfo.estateName"></h3>
							<p>2020-11-11 / <a href="javascript:void(0);" v-text="houseInfo.landlordName"></a> / <a href="javascript:void(0);">未分类</a> / <a href="#">2 评论</a></p>
							<!-- Swiper	-->
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="images/b1.jpg" alt="">
									</div>
									<div class="swiper-slide">
										<img src="images/b2.jpg" alt="">
									</div>
								</div>
								<!-- Add Pagination -->
								<div class="swiper-pagination"></div>
								<!-- Add Navigation -->
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
							</div>
							<span style="color: red;font-size: 33px"><span>{{houseInfo.rent}}</span><button type="button" class="btn btn-info" style="margin-left: 660px" @click="booking()">预定</button></span>
						</div>

						<div class="tags">
							<h4>可提供服务</h4>
							<ul>
								<li><input type="checkbox" id="inlineCheckbox1" value="option1" checked="checked"> 停车场(部分收费)</li>
								<li><input type="checkbox" id="inlineCheckbox2" value="option2" checked="checked"> 24小时热水</li>
								<li><input type="checkbox" id="inlineCheckbox3" value="option3" checked="checked"> 免费wifi</li>
								<li><input type="checkbox" id="inlineCheckbox4" value="option4" checked="checked"> 洗衣服务</li>
								<li><input type="checkbox" id="inlineCheckbox5" value="option5" checked="checked"> 叫醒服务</li>
								<li><input type="checkbox" id="inlineCheckbox6" value="option6" checked="checked"> 接送服务</li>
								<li><input type="checkbox" id="inlineCheckbox7" value="option7" checked="checked"> 餐饮服务</li>
							</ul>
						</div>

						<!---RESPONSES--->
						<div class="coment-form">
							<div class="container">
								<h3>住客评价</h3>
								<table class="table table-condensed table-bordered" style="max-width: 72%;">
									<tr>
										<td>用户名</td>
										<td>评论内容</td>
										<td>时间</td>
									</tr>
									<tr>
										<th>如雪仙王</th>
										<th>环境不错</th>
										<th>2020-11-12</th>
									</tr>
									<tr>
										<th>水多仙王</th>
										<th>池塘水很多</th>
										<th>2020-11-13</th>
									</tr>
								</table>
								<form>
									<span><input type="text" v-model="comment" value=""  placeholder="评论内容" required=""><span v-text="tips" v-if="show == 1" style="color: red"></span></span>
									<input class="btn btn-default" type="button" value="Comment" @click="Commit_comment()">
									<!--									<label><input type="checkbox" value="Sign me up for the newsletter">Sign me up for the newsletter</label>-->
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-3 blog-grid1">
						<div class="categ">
							<h3>具体位置</h3>
							<div id="container" style="width: 333px;height: 333px"></div>
						</div>
<!--						<div class="feature">-->
<!--							<h4>Featured Properties</h4>-->
<!--							<div class="feature-top">-->
<!--								<img src="images/s4.jpg" class="img-responsive" alt="/">-->
<!--								<h5>60 Merrick Way, Miami</h5>-->
<!--								<p>Lorem ipsum dolor sit amet, consectetuer  elit,… <a href="#">Know More</a></p>-->
<!--							</div>-->
<!--							<div class="feature-top top2">-->
<!--								<img src="images/s3.jpg" class="img-responsive" alt="/">-->
<!--								<h5>Villa in Hialeah, Dade</h5>-->
<!--								<p>Lorem ipsum dolor sit amet, consectetuer  elit,… <a href="#">Know More</a></p>-->
<!--							</div>-->
<!--						</div>-->
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>

	<!--footer-->
	<div class="footer">

	</div>
	<!--footer-->
</body>
<!-- vue -->
<script src="js/heikes/Hip.js"></script>
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<script type="text/javascript">
	var id= location.search.replace(/[^\d]/g, "");
	new Vue({
		el:'#app',
		data:{
			comment:[],
			tips:[],
			show:0,
			houseInfo:[]
		},
		mounted:function(){
			this.houseDetails();
		},
		methods:{
			Commit_comment:function () {
				var that = this;
				if (that.comment == '' || that.comment == null){
					that.show = 1;
					that.tips = '评论不能为空';
					return
				}
			},
			booking:function () {
				location.href='pay1.html';
			},
			houseDetails:function () {
				axios.get(houseIp+"/getHouseInfoById?id="+id).then(function (value) {
					app.houseInfo = value.data.data;
					console.log(app.houseInfo.rent)
					// <!--	带点的-->
					var map = new BMapGL.Map('container');
					map.centerAndZoom(new BMapGL.Point(app.houseInfo.lng,app.houseInfo.lat), 15);
					map.enableScrollWheelZoom(true);
					// 创建点标记
					var marker = new BMapGL.Marker(new BMapGL.Point(app.houseInfo.lng,app.houseInfo.lat));
					// 在地图上添加点标记
					map.addOverlay(marker);
				})
			},
		}
	})
</script>
<!--<script type="text/javascript">-->
<!--	//创建地图实例-->
<!--	var map = new BMap.Map("container");-->
<!--	//创建点坐标-->
<!--	// var point = new BMap.Point(122.12348,37.50212);-->
<!--	//初始化地图，设置中心点坐标和地图级别-->
<!--	// map.centerAndZoom(point, 15);-->
<!--	//添加控件-->
<!--	map.centerAndZoom(new BMap.Point(121.48053886017651,31.235929042252014), 15);-->
<!--	map.addControl(new BMap.NavigationControl());-->
<!--	map.addControl(new BMap.ScaleControl());-->
<!--	map.addControl(new BMap.OverviewMapControl());-->
<!--	map.addControl(new BMap.MapTypeControl());-->
<!--	map.setCurrentCity("上海"); // 仅当设置城市信息时，MapTypeControl的切换功能才能可用-->
<!--	//添加滑轮缩放-->
<!--	map.enableScrollWheelZoom(true);-->
<!--</script>-->
<script>

</script>
<!-- Swiper JS -->
<script src="js/heikes/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
	var swiper = new Swiper('.swiper-container', {
		zoom: true,
		pagination: {
			el: '.swiper-pagination',
			clickable: true,
			// renderBullet: function (index, className) {
			// 	return '<span class="' + className + '">' + (index + 1) + '</span>';
			// }
		},
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},
		autoplay:true,
	});
</script>
</html>